body {
  width: 100%;
  min-height: 100vh;
  background-color: #b5b5b5;
  overflow-x: hidden;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #f5f5f5;
  font-size: 18px;
  margin-bottom: 12px;
}
label {
  color: #efeeee;
  font-size: 12px;
}
main {
  width: 50%;
  margin: 0 auto;
  height: 70%;
}
form,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(3, 1, 40);
  border-radius: 10px;
  padding: 40px;
  background-color: #1c1b1b;
  box-shadow: rgba(18, 18, 19, 0.861) 0px 7px 29px 0px;
}
form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block: 5px;
}
.checkbox {
  flex-direction: row;
  align-items: center;
  margin-block: 5px;
}
.button {
  flex-direction: row;
  align-items: center;
}
.checkbox label {
  color: rgb(233, 233, 234);
}
button {
  border: none;
  border: 1px solid #fff;
  color: #fff;
  background-color: black;
  width: 120px;
  height: 26px;
  border-radius: 10px;
  padding-inline: 6px;
  font-size: 12px;
  transition: 0.3s;
  cursor: pointer;
}
button:hover {
  color: rgb(1, 1, 62);
  border: rgb(2, 2, 71);
  background-color: white;
}

input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #0b0b0b;
  border: 1px solid rgb(6, 6, 6);
  color: white;
}
textarea {
  background-color: #0b0b0b;
  outline: none;
  border: 1px solid #131313;
  border-radius: 10px;
  color: white;
  padding: 5px;
  resize: none;
}
textarea::placeholder {
  color: #fffefe;
  font-style: italic;
  font-size: 12px;
  opacity: 0.8;
}
textarea:focus {
  outline: 2px solid rgb(7, 3, 73);
  border: none;
}
input:focus {
  outline: 2px solid rgb(7, 3, 73);
}
@media screen and (max-width: 750px) {
  main {
    width: 90%;
  }
  form {
    padding: 20px;
  }
}
@media screen and (max-width: 450px) {
  .button {
    flex-direction: column;
    
  }
}
