* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-scroll {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
h1 {
  font-size: 50px;
  color: #0659b8;
}
nav div:last-child div:nth-of-type(1) {
  color: #0659b8;
}
header {
  width: 100%;
  max-width: 1970px;
  height: 100px;
  padding: 20px;
  margin: auto;
}
.down {
  height: 14px;
}
.search,
a img {
  height: 16px;
  width: 16px;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 50px;
}
.row_menu > div {
  display: flex;
}
.row_menu > div p {
  text-align: center;
  cursor: pointer;
}
.pages_list {
  display: none;
}
/* .pages_list {
  flex-direction: column;
  position: fixed;
} */
.open {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.pages_div:hover .pages_list {
  left: -10px;
  width: 100%;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.pages_div {
  position: relative;
}
.row_menu > div ul li {
  text-align: center;
  background-color: #f2f2f2;
  width: 100%;
  gap: 2px;
}
.row_menu a,
.row_menu div {
  width: max-content;

  padding: 10px;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
/* nav >div:nth-of-type(3){
  display: none;
} */
.menu_content {
  background: #fff;
  padding: 32px !important;
  height: 40%;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 80% !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger {
  width: 25px;
  height: 25px;
  display: none;
  flex-direction: column;
  gap: 4px;
  z-index: 99999;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 3px;
  background-color: black;
}

.head {
  height: 200px;

  color: blue;
  background-color: #e8f2fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person {
  width: 100%;
  margin: auto;
  max-width: 1970px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px 20px;
  gap: 30px;
}
.person img {
  min-width: 30%;
  max-width: 500px;

  height: 80%;
  object-fit: cover;
  margin: auto;
}
h3 a {
  color: #0659b8;
}
.person p {
  text-align: justify;
  letter-spacing: 0.8;
  line-height: 1.5;
  font-size: 20px;
}
.person div p:last-child {
  color: #0659b8;
}
.person div {
  width: max-content;
  padding-right: 80px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}
.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #e8f2fe;
  padding: 40px;
}

.cards_div {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.cards_div > div.show {
  opacity: 1;
  transform: translateY(0);
}

.cards_div img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.cards_div > div {
  width: 50%;
  max-width: 450px;
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}
.cards_div img + div {
  display: flex;
  flex-direction: column;
}
.blue {
  color: blue;
}
.cards > h2 {
  margin-block: 20px;
}
footer {
  width: 100%;

  background-color: #0659b8;
  color: white;
  padding: 40px;
}
.footer_logo img {
  max-height: 50px;
  width: 200px;
  object-fit: cover;
}
.footer_logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_logo p a {
  text-decoration: underline;
}
.footer_coll {
  display: flex;
  max-width: 1900px;
  margin: auto;
  justify-content: space-between;
  margin-block: 40px;
}
ul {
  list-style: none;
}
ul li {
  padding: 5px;
  font-size: 16px;
}
footer a {
  color: white;
}
.footer_coll div:first-child {
  width: 40%;
  font-weight: bold;
}
.help,
.getintouch {
  width: 25%;
}
.help p,
.getintouch p {
  color: #a2ccfb;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer_end {
  display: flex;
  max-width: 1900px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.footer_menue {
  display: flex;
  width: max-content;
}
.footer_menue a {
  padding: 10px;
}
ul li a:hover {
  text-decoration: underline;
}
.footer_coll ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_coll ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}
hr {
  margin-block: 5px;
  border: 1px solid white;
}

@media screen and (max-width: 800px) {
  .person div {
    width: 50%;
    padding-right: 10px;
  }
  .person {
    height: auto;
  }

  .person img {
    width: 50%;
    max-height: 50%;
    object-fit: cover;
  }
}
@media screen and (max-width: 750px) {
  .person div {
    width: 50%;
    padding-right: 10px;
  }
  .person img {
    width: 50%;
    max-height: 50%;
    object-fit: cover;
  }
  .person div p {
    font-size: 16px;
    line-height: 1;
  }
  .cards_div div {
    flex-direction: column;
  }
  .cards_div img {
    width: 100%;
    object-fit: cover;
  }
  .footer_coll div:first-child {
    width: 60%;
    margin-bottom: 20px;
  }
  .getintouch {
    width: 100%;
  }
  .footer_coll {
    flex-wrap: wrap;
  }
  .footer_end {
    flex-direction: column;
    align-items: start;
  }
  nav > div:nth-of-type(2) {
    display: none;
  }
  .burger {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .person {
    flex-direction: column;
    min-height: 10vh;
    justify-content: center;
  }
  .person img {
    width: 80%;
    min-height: 50%;
    object-fit: cover;
  }
  .person div {
    width: 90%;
    height: 50%;
  }
  .cards_div {
    flex-direction: column;
  }
  .cards_div > div {
    width: 100%;
    height: 420px;
    justify-content: space-between;
  }
  .cards_div div img {
    height: 300px;
    width: 100%;
    margin: auto;
  }
  .footer_coll div:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  .getintouch {
    width: 100%;
  }
  .help {
    width: 100%;
  }
  h1 {
    font-size: 36px;
  }
}
