@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  width: 100%;
  min-height: 100vh;
  background-color: #5be1a0;
  overflow-x: hidden;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin-block: 16px;
}
main p {
  margin-bottom: 60px;
  color: #626565;
}
.content {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  align-items: start !important;
}
.content,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.footer_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
h2 {
  margin-bottom: 10px;
}
footer {
  width: 100%;
}
.footer_content div + div {
  display: flex;
  flex-direction: column;
}
.footer_content div:first-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #626565;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.content:hover h1,
.content:hover h2,
.content:hover .footer_content div + div a {
  color: #217d50;
}
.content h1,
.content h2,
.content .footer_content div + div a {
  transition: color 0.3s ease;
}
@media screen and (max-width: 750px) {
  .footer_content {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
 .content {
  justify-content: center ;
  align-items: center ;
}

   h2,h1,p{
    text-align: center;
  } 
}
